#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15%;
}
.logo{
    font-size: 2rem;
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    line-height: 1.5;
    color: #fff;
}
.down-button{
    margin: 5% 3% 5% 0;
}
.title-img{
    width: 20%;
    
    transform: rotate(25deg);
    position: absolute;
    right: 22%;
    
    
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    size:1.2rem;
    font-family:"Montserrat-light", sans-serif;
}
#features{
    padding: 7% 15%;
    position: relative; 
    z-index: 1;
    background-color: #fff;
    
}
.feature-box{
    text-align: center;
    padding:5%;
}
h3{
    font-family:"Montserrat-black", sans-serif;
    font-weight:bolder;
}
p{
    color: #8f8f8f;

}
h2{
    font-family:"Montserrat", sans-serif;
    line-height: 3.5rem;
    font-size: 3rem;
    font-weight: bolder;
}
.icon{
    margin-bottom: 1rem;
    color: #cf8172;
}
.icon:hover{
    color: #ff4c68;
}
.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#testimonials{
    
    background-color: #cf8172;
    color: #fff;
    text-align: center;
    

}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
    
}
#press{
    background-color: #cf8172;
    text-align: center;
    
}
.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding:3% 2%;
}
@media (max-width:1000px) {
   #title{
       text-align: center;
   }
    .title-img{
        position: static;
        width:60%;
        transform: rotate(0);
    }
    
}
#cta{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
    
}
.cta-heading{
    font-family: "Montserrat";
    size: 3.5rem;
    line-height: 1.5rem;
    font-weight: bolder;
    padding-bottom: 2rem;
    
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}
